{% extends 'base.html.twig' %}

{% block title %}Ajouter Vin{% endblock %}

{% block body %}
    {% include 'homepageTemplate/background.html.twig' %}
    {% include 'utilisateur/navBarUtilisateur.html.twig' %}

    <div class="container" style="margin-top:10; margin-left:35%%">
            <div class="row same-height justify-content-center">
                
    <h1>Create new Vin</h1>

    {{ include('vin/_form.html.twig') }}
{% endblock %}
