{% block body %}
    <div>
        {% include 'homepageTemplate/background.html.twig' %}
        {% include 'homepageTemplate/button_user.html.twig' %}
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-6">
                    <div class="post-entry text-center">
                        <h1 style="margin-top:50%" class="mb-4">Liste des vins</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
{% endblock %}