/*body{
mettre image comme proj web
}

input{
    text-align: center;
    margin-bottom: 10%;
    margin-left: 2%;
    border: 5px;
    background: transparent;
    border-style: none;
    border-bottom-style: groove;
    border-color: black;
    color: white;
    box-shadow: none;
}

label,h1{
    color: white;
}

form{
    padding: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.centerform{
    background-color: rgba(110, 2, 2, 0.719);
    width: 30%;
    margin: auto;
}*/